.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  max-width: 1400px;
  margin: auto;
  border-bottom: 1px solid var(--second-color1);
}
.navbar h1 a {
  background: linear-gradient(90deg, var(--brand-color), var(--brand-color1));
  background-clip: text;
  color: transparent;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  
}
a {
  color: var(--second-color);
}
.navbar button {
  width: 100px;
  height: 35px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #adb5bd;
  border-radius: 8px;
}